* {
  box-sizing: border-box;
}
body {
    font-family: Garamond, serif;
    background-color: gray;
    background-position: fixed;
    margin: 0;
}
.menuBar {
    position: fixed;
    overflow: auto;
    display: block;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 0 auto;
}
.menuBar a {
    display: inline-block;
    float: left;
    color: black;
    text-decoration: none;
    border-radius: 3.125px;
    width: 20%;
    min-width: 134px;
    font-size: 30pt;
    text-align: center;
    margin: 0.2em;
    padding: 0.1em;
    transition: 0.5s;
}
.menuBar a:hover {
    text-shadow: 0px 0px 1px black;
    box-shadow: inset 0px 0px 5px black;
}
.home {
    text-decoration: underline !important;
}
.main {
    width: 100%;
    padding: 100px 10px 10px 10px;
    display: inline-block;
}
.l1 {
    outline: 1px solid white;
}
.f1 {
    margin: auto;
    width: 25%;
}
.secondary {
    display: inline-block;
    width: 100%;
}

note to change menu vertical when width max 800