* {
  box-sizing: border-box;
}
body {
    font-family: Garamond, serif;
    background-color: gray;
    margin: 0;
}
.menuBar {
    position: fixed;
    overflow: auto;
    display: block;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 0 auto;
}
.menuBar a {
    display: inline-block;
    float: left;
    color: black;
    text-decoration: none;
    border-radius: 3.125px;
    width: 20%;
    min-width: 134px;
    font-size: 30pt;
    text-align: center;
    margin: 0.2em;
    padding: 0.1em;
    transition: 0.5s;
}
.menuBar a:hover {
    text-shadow: 0px 0px 1px black;
    box-shadow: inset 0px 0px 5px black;
}
.home {
    text-decoration: underline !important;
}
.main {
    width: 100%;
    padding: 100px 10px 10px 10px;
    display: inline-block;
}
.l1 {
    outline: 1px solid white;
}
.f1 {
    margin: auto;
    width: 25%;
}
.secondary {
    display: inline-block;
    width: 100%;
}
.tertiary {
    display: block;
    width: 95%;
    margin: 5% auto;
    text-align: center;
}
.about {
    display: inline-block;
    width: 450px;
    height: 450px;
    margin: 0 auto;
}
.frame {
  background-color:#ddc;
  border:solid 5vmin #eee;
  border-bottom-color:#fff;
  border-left-color:#eee;
  border-radius:2px;
  border-right-color:#eee;
  border-top-color:#ddd;
  box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
  box-sizing:border-box;
  display:inline-block;
  margin:10vh 10vw;
  height:80vh;
  padding:8vmin;
  position:relative;
  text-align:center;
  &:before {
    border-radius:2px;
    bottom:-2vmin;
    box-shadow:0 2px 5px 0 rgba(0,0,0,.25) inset;
    content:"";
    left:-2vmin;
    position:absolute;
    right:-2vmin;
    top:-2vmin;
  }
  &:after {
    border-radius:2px;
    bottom:-2.5vmin;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
    content:"";
    left:-2.5vmin;
    position:absolute;
    right:-2.5vmin;
    top:-2.5vmin;
  }
}
.earth {
  border:solid 2px;
  border-bottom-color:#ffe;
  border-left-color:#eed;
  border-right-color:#eed;
  border-top-color:#ccb;
  max-height:80%;
  max-width:80%;
}