body {
    font-family: Garamond, serif;
    background-color: gray;
}
.menuBar {
    width: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.5);
    align: center;
}
.menuBar a {
    float: left;
    color: black;
    text-decoration: none;
    width: 33.3%;
    font-size: 30pt;
    text-align: center;
}
.menuBar a:hover {
    background-color: black;
    color: white;
}