body {
    background-image: url(https://images.wallpaperscraft.com/image/single/dog_field_grass_91638_2560x1600.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: white;
    }
button {
    display: block;
    margin-right: 0pt;
    margin-left: auto;
    color: white;
    background-color: #454545
    }
h1, p {
    display: inline-block;
    color: White;
    text-align: center;
    background-color: #454545;
    border: 5px solid #303030;
    border-top-color: #909090;
    border-left-color: #606060;
    border-right-color: #606060;
    border-bottom-color: #303030;
    }
.dogo {
    display: inline-block;
    margin-right: auto;
    width: 50%;
    }
.dogo2 {
    display: inline-block;
    margin-left: auto;
    width: 50%;
    }
.dogbox {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
a .hundred {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    }
.dog {
    width: 50%;
    }
img {
    border: 5px solid #555;
    border-top-color: #909090;
    border-left-color: #606060;
    border-right-color: #606060;
    border-bottom-color: #303030;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
h2 {
    border: 5px solid;
    border-top-color: #909090;
    border-left-color: #606060;
    border-right-color: #606060;
    border-bottom-color: #303030;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5pt;
    width: 50%;
    display: block;
    text-align: center;
    background-color: #454545;
    color: White;
    }
legend {
    color: white;
    font-weight: bold;
    border: 5px solid;
    border-top-color: #909090;
    border-left-color: #606060;
    border-right-color: #606060;
    border-bottom-color: #303030;
    padding: .2em;
    background-color: #454545;
    }
fieldset {
    display: block;
    border: 5px solid;
    border-top-color: #909090;
    border-left-color: #606060;
    border-right-color: #606060;
    border-bottom-color: #303030;
    background-color: #454545;
    color: white;
    margin: auto;
    width: 75%;
    padding: 10px;
    }
section {
    display: flex;
    justify-content: center;
    }
iframe {
    width: 100%;
    max-width: 560px;
    display: block;
    border: 5px solid;
    border-top-color: #909090;
    border-left-color: #606060;
    border-right-color: #606060;
    border-bottom-color: #303030;
    background-color: #454545;
    }
hr {
    height: 4px;
    background-color: black;
    border-top-color: #909090;
    border-left-color: #606060;
    border-right-color: #606060;
    border-bottom-color: #303030;
    }
a {
    color: white;
}
a:visited {
    color: grey;
}
a:hover {
    color: lavender;
}
.top-left {
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    padding: 10px;
}
.top-right {
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    padding: 10px;
    }
.top-hat {
    display: inline-block
    margin-right: auto;
    margin-left: auto;
    width: 100%;